// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// CSS que se usara en todos los archivos
.marginTop{
    margin-top: 1em;
}

.marginSide{
    margin-left: 2em;
    margin-right: 2em;
}

.marginSideNavbar{
    margin-left: 1em;
    margin-right: 1em;
}

.textCenter{
    text-align: center;
    font-weight: bold;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.red{
    color: #721c24;
}

.btn-secondary{
    background-color: #721c24!important;
    border-color: #721c24!important;
}

.btn-secondary:hover, .btn-secondary:focus{
    background-color: #8b323b!important;
    border-color:#8b323b!important;
}